link(rel="import", href="/magma/magma-refreshing-widget.html")
link(rel="import", href="/lib/time-ago/8a19ca77f7/time-ago.html")

polymer-element(name='countdown-view', extends="magma-refreshing-widget")
  template
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
    style.
      .fromNow {
        font-style: italic;
        color: #6B6B6B;
      }
      .fa-sun-o {
        color: rgb(184, 126, 5);
        text-shadow: 0 0 3px yellow;
        padding: 0 2px;
      }
    div
      | Upcoming
      ul
        template(repeat="{{row in countdowns}}")
          li
            span.fromNow: {{row.fromNow}}
            template(repeat="{{d in row.soonDays}}")
              i.fa.fa-sun-o
            | -
            | 
            span: {{row.label.value}}
          
  script(src="/lib/jquery-2.0.3.min.js")
  script(src="/lib/moment/2.6.0/moment.min.js")
  script(src="/lib/rdf_store/0.8.2/rdf_store.js")
  script(src="countdown-view.js")  
